header {
      background: linear-gradient(180deg,red,black);
      color: white;
      padding: 20px 20px;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items : center;
      margin: 0px;
      font-size: 25px;
    }
     header h1 { font-size : 25px; }

    nav a {
      color: white;
      margin-left: 15px;
      text-decoration: none;
      font-size: 20px;
    }
     nav a:hover { 
        text-decoration: underline; 
    }
    body{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif
    }
    footer{
    background: linear-gradient(180deg,red,black);
    margin:  auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
}
