
 body{
                font-family: Arial, Helvetica, sans-serif;
                background-color:white;
            }
            div{
                background-color: lightgray;
                padding: 10px;
                border-radius: 5px;
                margin: 10px;
                box-shadow: 0 0 20px black;
            }
            table{
                width: 100%;   
                align-content: center;   
                padding: 20px;     
            }
            img{
                box-shadow: 0 0 10px black;
            }
            h3{
                color: rgb(61, 85, 245);
            }
            