* {
     margin: 0; padding: 0; 
     box-sizing: border-box; 
     font-family: Arial, Helvetica, sans-serif; }

    body { 
        line-height: 1.6; background-color: whitesmoke; color: #333; 
    }

    header {
      background: linear-gradient(180deg,red,black);
      color: white;
      padding: 20px 40px;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items : center;
      margin: 0px;
      font-size: 25px;
    }
    header h1 { font-size : 25px; }

    nav a {
      color: white;
      margin-left: 15px;
      text-decoration: none;
      font-size: 20px;
    }
     nav a:hover { 
        text-decoration: underline; 
    }
    section {
      padding: 60px 40px;
      max-width: 1000px;
      margin: auto;
    }
    .hore{
        text-align: center;
        padding: 20px 20px;
    }
    .s1{
        border-radius: 5px 5px 10px;
        box-shadow: 0 0 10px black;
    }
   .pro { 
   display: inline-block;
   padding: 75px;
}

.pro img {
    box-shadow: 0 0 20px black;
    padding: 20PX;
}
footer{
    background: linear-gradient(180deg,red,black);
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
}
input, textarea {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
select{
    width: 100%;
    padding: 5px;
    margin: 8px 0 ;
    border-radius: 6px;
     border: 1px solid #ccc;
    }
