h2{
    text-align: center;
    box-shadow: 0 0 20px black;
    padding: 20px;
    margin: 40px;

}

.ero{
    width: 350px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}
img{
    padding: 20px;
}
h3{
    text-align: center;
    margin: 40px;
    box-shadow: 0 0 25px black;
    padding: 20px;
    font-size: 25px;
}
.e1{
    display: inline-block;
    margin: 40px;
    padding: 10px;
}